* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}


/* 全局样式结束 */

#wrap {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrap ul {
    width: 80%;
    height: 80%;
    /* background-color: gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wrap li {
    width: 16%;
    height: 100%;
    background-color: #333;
    overflow: hidden;
    border-radius: 20px;
    transition: width 0.5s linear, height 0.5s linear 0.5s;
}

#wrap li .inner {
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 0.5s linear;
}

#wrap li h2 {
    transition: all 0.5s linear;
}

#wrap .init .inner {
    transform: translateY(100%);
}

#wrap li:nth-child(1) .inner {
    transition-delay: 0.1s;
}

#wrap li:nth-child(2) .inner {
    transition-delay: 0.2s;
}

#wrap li:nth-child(3) .inner {
    transition-delay: 0.3s;
}

#wrap li:nth-child(4) .inner {
    transition-delay: 0.4s;
}

#wrap li:nth-child(5) .inner {
    transition-delay: 0.5s;
}

#wrap li:nth-child(6) .inner {
    transition-delay: 0.6s;
}

#wrap li .inner .bg {
    opacity: 0.5;
    transition: all 0.2s linear;
}

#wrap li .inner .bg:hover {
    opacity: 1;
}

#wrap li:nth-child(1) .inner .bg {
    height: 100%;
    background-image: url(./images/dong1.jpg);
    background-size: cover;
    background-position: center;
}

#wrap li:nth-child(2) .inner .bg {
    height: 100%;
    background-image: url(./images/dong2.jpg);
    background-size: cover;
    background-position: center;
}

#wrap li:nth-child(3) .inner .bg {
    height: 100%;
    background-image: url(./images/dong6.jpg);
    background-size: cover;
    background-position: center;
}

#wrap li:nth-child(4) .inner .bg {
    height: 100%;
    background-image: url(./images/dong7.jpg);
    background-size: cover;
    background-position: center;
}

#wrap li:nth-child(5) .inner .bg {
    height: 100%;
    background-image: url(./images/dong8.jpg);
    background-size: cover;
    background-position: center;
}

#wrap li:nth-child(6) .inner .bg {
    height: 100%;
    background-image: url(./images/dong9.jpg);
    background-size: cover;
    background-position: center;
}


/* 文本 */

#wrap li h2 {
    font-size: 16px;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

#wrap li:hover h2 {
    font-size: 24px;
}


/* 点击样式 */

#activeWrap li {
    transition: height 0.5s linear, width 0.5s linear 0.5s;
}

#activeWrap li:not(.active) {
    width: 0;
    height: 0;
}

#activeWrap li.active {
    width: 100%;
}

#activeWrap li h2 {
    transition: all 0.5s linear;
    opacity: 0;
}


/* 标题 */

#wrap li .direction {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 30px;
    line-height: 30px;
    position: absolute;
    top: 50px;
    opacity: 0;
}

#wrap li .direction .header {
    color: #fff;
    font-size: 24px;
}

#wrap li .direction .closeBtn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
}

#wrap li .direction .closeBtn::before,
#wrap li .direction .closeBtn::after {
    content: '';
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    margin-top: -2px;
    background-color: #fff;
}

#wrap li .direction .closeBtn::before {
    transform: rotate(45deg);
}

#wrap li .direction .closeBtn::after {
    transform: rotate(-45deg);
}

#activeWrap li .direction {
    opacity: 1;
    transition: .5s linear 1s;
}

#activeWrap li .direction .closeBtn {
    transform: rotate(360deg);
    transition: 0.5s linear 1s;
}